# Grafana Datasources Configuration for YOUTILITY5 AI
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus_uid
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: '15s'
      httpMethod: POST
      customQueryParameters: ''
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: 2.40.0
      cacheLevel: 'High'
      disableRecordingRules: false
      incrementalQueryOverlapWindow: 10m
      exemplarTraceIdDestinations: []