apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    version: 1
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: 30s
      queryTimeout: 60s
      customQueryParameters: ''
      tlsSkipVerify: false
    secureJsonData: {}

  - name: Prometheus (Local Dev)
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: false
    version: 1
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: 30s
      queryTimeout: 60s
